<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.dao.CollectDao">

    <!-- 显示全部收藏信息 -->
    <select id="getAllByColler" resultType="cn.pojo.Collect" parameterType="int">
      select * from collect where cyhid=#{cyhid} and csczt=0
    </select>
<!--    &lt;!&ndash;查询收藏商品信息 &ndash;&gt;
    <select id="getCollerByGood" resultType="Goods" parameterType="int">
        select * from goods where gid=#{gid}
    </select>-->
</mapper>